<div class="maintop">
  <div class="maintopleft">
    <div class="roomname2">hogefuga
    </div>
  </div>
  <div class="maintopright">
    <div class="chatend">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="mainmiddle">
  <div class="message">
    <div class="nameday">
      <div class="name">
      Tom
      </div>
      <div class="day">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="textdate">
      <div class="text">
      おはよう
      </div>
    </div>
  </div>
  <div class="message">
    <div class="nameday">
      <div class="name">
      Tom
      </div>
      <div class="day">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="textdate">
      <div class="text">
      おはよう
      </div>
    </div>
  </div>
</div>
<div class="mainbottom">
  <div class="forms">
    <div class="forminput">
      <input class="form" placeholder="type a message"  >
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
    </div>
      <input class="formbtn" type="submit" value="送信">
  </div>
</div>
