<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %> <%# このファイルはcolloctionオプションで@messageの要素一つ一つに対して表示させる記述なので、message.user.nameで一つのメッセージに対するusersテーブルのnameカラムの値を取得できる%>
    </div>
    <div class="message-date">
      <%= l message.created_at%>
    </div>
  </div>
  <div class="lower-message">
       <div class="message-content">
         <%= message.content %>
       </div>
<%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached? %>
                                                                              <%# ifを記述することで、画像が存在する場合のみimage_tagが読み込まれるようになる%>                  
  </div>
</div>